.nav_custom {
    background-color: #388e3c ;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.hero_image {
    background: url(assets/images/pexels-ella-olsson-1640777.jpg) no-repeat center center /contain;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }