{% extends "base.html" %}
{% block content %}


<section class="container tools_main_section">
<h1 class="col s12 light-blue-text text-darken-4 move_to_top">Below are some our community approved recipes.</h1>
<h2>Stuck for ideas. Why not see what our community likes.</h2>
    {% for info in info %} 
    <div class="grid">
        <div class="g-col-6">
            <div>
                <h1>
                    Recipe
                </h1>
                <h3>
                    <strong style="text-decoration: underline;">Name:</strong>   {{ info.recipe_name }}
                </h3>

                <h3>
                    <strong style="text-decoration: underline;">Feeds:</strong>   {{ info.feeds }}
                </h3>

                <h3>
                    <strong style="text-decoration: underline;">Vegetarian (Yes/No):</strong>   {{ info.veg }}
                </h3>
                <h3>
                    <strong style="text-decoration: underline;">Vegan (Yes/No):</strong>   {{ info.vegan }}
                </h3>




                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Name:</th>
                        <td>{{ info.recipe_name }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Feeds:</th>
                        <td>{{ info.feeds }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Vegetarian (Yes/No):</th>
                        <td>{{ info.veg }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Vegan (Yes/No):</th>
                        <td>{{ info.vegan }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    {% endfor %}


</section>
{% endblock %}

