{% extends "base.html" %}
{% block content %}

    <img src="static/assets/images/pexels-ella-olsson-1640777.jpg" alt="Placeholder image" style="width: 100%;">
    <section class="container">

              <span class="card-title light-blue-text text-darken-4">You own online cookbook<i class="material-icons right">close</i></span>
              <p>Looking for a way to store and track your favourite recipes?<br><br>
                Sick of all those books taking up space in the kitchen?<br><br> 
                Find yourseld in the shop wishing you hadnt forgotten a specific recipe?<br><br>
                If the answer is yes to either of those questions than this site is the perfect solution.<br><br>
                You can search through a list of our community’s recipes or create save and open your own recipe’s. All using your mobile or laptop.</p>
      </section>

{% endblock %}