{% extends "base.html" %}
{% block content %}

    <img src="static/assets/images/pexels-ella-olsson-1640777.jpg" alt="Placeholder image" style="width: 100%;">
    <section class="container">

      <div class="row">
        <div class="col s12 light-blue-text text-darken-4">
          <h1>You own online cookbook</h1>
        </div>
        <div>
          <div class="col s12 light-blue-text text-darken-4">
            <img src="/static/assets/images/pexels-cottonbro-5674140.jpg" alt="">
          </div>
          <div>
          <p>Looking for a way to store and track your favourite recipes?<br><br>
            Sick of all those books taking up space in the kitchen?<br><br> 
            Find yourself in the shop wishing you hadnt forgotten a specific recipe?<br><br>
            If the answer is yes to either of those questions than this site is the perfect solution.<br><br>
            You can search through a list of our community’s recipes or create save and open your own recipe’s. All using your mobile or laptop.</p>
        </div>
      </div>
    </section>

{% endblock %}