{% extends "base.html" %} 
{% block content %} 
<section class="container_custom_home">
  <img src="static/assets/images/pexels-ella-olsson-1640777.jpg" alt="Placeholder image" style="width: 100%;">
  <div>
    <h1 class="centered col s12 text-darken-4 move_to_top">You own online cookbook</h1>
  </div>
  <div>
    <div class="centered_p">
      <p>
        <strong>Looking for a way to store and track your favourite recipes? <br>
          <br> Sick of all those books taking up space in the kitchen? <br>
          <br> Find yourself in the shop wishing you hadnt forgotten the ingredients for a specific recipe? <br>
          <br> If the answer is yes to either of those questions than this site is the perfect solution. <br>
          <br> You dont need to be a Vegetarian to enjoy the site. 
        </strong>
      </p>
    </div>
  </div>
</section>
<section class="container" style="text-align: center;">
  <div class="row">
    <div class="home_div">
      <div>
        <h3 class="light-green-text text-darken-4">A blank canvas for your own recipe book</h3>
        <p>Create, store and edit your own recipe's within your account. Put those books back on a shelf!</p>
        <img src="/static/assets/images/pexels-karolina-grabowska-4033636.jpg" alt="">
      </div>
      <div>
        <h3 class="light-green-text text-darken-4">Open your recipe book on the go</h3>
        <p>Open your recipe book on the go. Log into your account in the store, at work or out for a cup of coffee.</p>
        <img src="/static/assets/images/pexels-blue-bird-7242744.jpg" alt="">
      </div>
    </div>
  </div>
</section> 
{% endblock %}