{% extends "base.html" %} {% block content %} 

<section class="container tools_main_section">
  <h1 class="col s12 light-blue-text text-darken-4 move_to_top">Welcome back {{ username }}.</h1>
  <h1>Browse your account here.</h1>
<div class="collapsible_form" style="text-align: left;">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">
        <h5>My Recipe's</h5>
      </div>
      <div class="collapsible-body">
        {% for info in info %} 
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ info.picpath }}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><h1>{{ info.recipe_name }}</h1><i class="material-icons right">Open</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><h6>{{ info.recipe_name }}</h6><i class="material-icons right">close</i></span>
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Feeds:</th>
                      <td>{{ info.feeds }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Vegetarian (Yes/No):</th>
                      <td>{{ info.veg }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Vegan (Yes/No):</th>
                      <td>{{ info.vegan }}</td>
                    </tr>
                  </tbody>
                </table>
                <div style="text-align: left;">
                  <h4>Cooking Instuctions:</h4>
                  <br>
                  <p>{{ info.cooking}}</p>
                </div>
                <div style="text-align: left;">
                  <h4>Ingredients:</h4>
                  <br>
                  <p>{{ info.cooking}}</p>
                </div>
              </div>
            </div>
    
    
            
        {% endfor %}
    
    </li>
    <li>
      <div class="collapsible-header">
        <h5>Submit New Recipe</h5>
      </div>
      <div class="collapsible-body">
        <div class="row">
          <form class="col s12" method="post">
            <div class="row">
              <h5>Add a recipe to your cookbook</h5>
              <div class="input-field col s6">
                <input placeholder="Recipe Name" id="recipe_name" name="recipe_name" type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
              </div>
            </div>
            <p>
              <label>
                <input type="checkbox" class="filled-in" name="veg" required/>
                <span>Vegetarian?</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="filled-in" name="vegan" required/>
                <span>Vegan?</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="filled-in" name="comm_recipe" required/>
                <span>Community Friendly?</span>
              </label>
            </p>
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" name="feeds"class="materialize-textarea" style="width: 10%;" required></textarea>
                  <label for="textarea1">Feeds</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" name="cooking" class="materialize-textarea" required></textarea>
                  <label for="textarea1">Cooking Instructions</label>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <div class="tooltip" required>Cooking Instructions <span class="tooltiptext">Please enter cooking instructions as you see fit. The text area will automatically expand.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Submit
            </button>
          </form>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h5>
          Delete recipe
        </h5>
      </div>
      <div class="collapsible-body">
        <h5>Your recipe list</h5>
        <div class="buffer"></div>
        {% for info in info %} 

        <table class="table">
          <h5>{{ info.recipe_name }}</h5>
          <tbody>
            <tr>
              <th scope="row">Feeds:</th>
              <td>{{ info.feeds }}</td>
            </tr>
            <tr>
              <th scope="row">Vegetarian (Yes/No):</th>
              <td>{{ info.veg }}</td>
            </tr>
            <tr>
              <th scope="row">Vegan (Yes/No):</th>
              <td>{{ info.vegan }}</td>
            </tr>
          </tbody>
        </table>
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Delete
        </button>
        <div class="buffer"></div>
        {% endfor %}  
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <h5>
          Your details
        </h5>
      </div>
      <div class="collapsible-body">
        <h5>View your account details</h5>
        <table>
          <tbody>
            <tr>
              <td>Username</td>
              <td>Registered Email</td>
            </tr>
            <tr>
              <td>{{username}}</td>
              <td>{{ user.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div> 


    {% endblock %}