{% extends "base.html" %} {% block content %}

<section class="container" style="text-align: center;">
    <h1 class="col s12 light-blue-text text-darken-4 move_to_top">All of your recipes in one place</h1>
    <h3>Browse and edit your recipes here</h3>
  
  
  
  
  

        <div class="">
          <div class="row card-panel grey lighten-5">
            <form action="{{ url_for('search_recipes') }}" method="post" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Reciepes</label>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('profilerecipe', username=session['user']) }}" class="red btn text-shadow">Reset</a>
                        <button type="submit" class="light-blue darken-1 btn text-shadow">
                            <i class="fas fa-search left"></i> Search
                        </button>
                    </div>
                </div>
            </form>
          </div>
          {% if info|length > 0 %}
          {% for info in info %} 
          {% if session.user|lower == info.created_by|lower %}
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ info.picpath }}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><h1>{{ info.recipe_name }}</h1><i class="material-icons right">Open</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><h6>{{ info.recipe_name }}</h6><i class="material-icons right">close</i></span>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Feeds:</th>
                        <td>{{ info.feeds }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Vegetarian (Yes/No):</th>
                        <td>{{ info.veg }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Vegan (Yes/No):</th>
                        <td>{{ info.vegan }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Created by:</th>
                        {% if info.comm_name_show == "Yes" %}
                        <td>{{ info.created_by }}</td>
                        {% else %}
                        <td>Private</td>
                        {% endif %} 
                      </tr>
                    </tbody>
                  </table>
                  <div style="text-align: left;">
                    <h4>Cooking Instuctions:</h4>
                    <br>
                    <p>{{ info.cooking}}</p>
                  </div>
                  <div style="text-align: left;">
                    <h4>Ingredients:</h4>
                    <br>
                    <p>{{ info.ingredients}}</p>
                  </div>
                </div>
              </div>
      
      
              {% endif %}    
          {% endfor %}
          {% else %}
          <h3>No results Found</h3>
        {% endif %}   
          





{% endblock %}