{% extends "base.html" %}
{% block content %}


<section class="container tools_main_section">
    <h1 class="col s12 light-blue-text text-darken-4 move_to_top">Browse our selection of cooking tools</h1>
    <h2>Browse our tools to help you become a true master chef!</h2>
    
    {% for test in test %}
        {{ test.first_name }}<br>
        {{ test.surname }}<br>
        {{ test.surname }}<br>
        {{ test.fav_food }}<br>
        {{ test.dob }}<br>
        {{ test.lucky_number }}<br>
    {% endfor %}
</section>
    <section>
    <div class="tool_custom">
        <div>
            <img src="/static/assets/images/utensils/pexels-aphiwat-chuangchoem-350417.jpg" alt="" target="_blank">
        </div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
      </div>
</section>

    {% endblock %}